#cta {
  background: var(--gradient-bar);
  display: flex;
  margin: 0 5rem;
  padding: 2rem 5rem;
  color: #fff;
  border-radius: 1rem;
}

#cta .cta-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}

#cta .cta-left h3 {
  font-size: 2rem;
  margin-top: -5px;
}

#cta .cta-right {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(20rem);
}

#cta .cta-right button {
  padding: 0.5rem 1.5rem;
  background: var(--color-bg);
  color: #fff;
  border-radius: 40rem;
  border: none;
}
